.resourceContainer{
    z-index: 50;
}

.pageTitle h2{
    font-size: 1.75rem;
}

.resourceContainer > h2{
    height: 10vh;
    background: rgba(151, 125, 72, 0.5);
    font-size: 1.75rem;
    padding: 2%;

}
