<div class = "openingContainer">
    
    <div class = "openingMessage">
        <p>Welcome to The Living Archive of Disappearing Things</p>
        <p>Central to this archive is understanding that the primary causes of climate destruction are imperialism, namely the U.S. military, and overconsumption under capitalism. Colonization has always involved an attempt to erase those being colonized. In this way, climate destruction is mutually reinforcing with the U.S settler colonial nation state. <br><br>It is also central to acknowledge that environmentalism cannot be led by those causing the most damage. <span class= "bold">The only way forward is through indigneous led movements.</span> The role of the US in 21st century climate preservation must be paying its climate debt via reparations to indigenous people.</p>
        <button (click)="openArchive()">Open</button>
    </div>
</div>