<header id="siteHeading">
    <img id="headerImage" src="../assets/water_to_sand.png" alt=""/>
    <div class="siteTitle">
        <h1>Living Archive of Disappearing Things</h1>
        <div class="subtitle">
            <p>A 21st century archive of the disappearance of our planet due to the climate crisis.</p>
        </div>
    </div>
    <div class="intro"><br> Industrialized human civilization has severely altered our planet. In this page, we explore <br>-<br> <b>what is lost?</b></div>
</header>
