<div class="about">
    <h2>About this Archive</h2>
    <div class="subsection">
        <h3>Intention</h3>
        <p>This archive was created to amplify stories of harm and resilience. It is meant to showcase the brutality of U.S. imperialism against the natural world. <br>This archive is a space not only for documentation and reckoning, but also for grief. <br></p>
    </div>
    <div class="subsection">
        <h3>Creator</h3>
        <p>&nbsp;&nbsp;&nbsp;My name is Nicole Schwartz and I started The Living Archive of Disappearing Things in Fall of 2021. I am a white queer person living on stolen Kumeyaay Land, within the United States. 
            Through creating this archive, I wanted to explore embodied online experiences and digital interfaces that center sensitivity and connectivity.<br><br>&nbsp;&nbsp;&nbsp;While I position myself as implicated in the environmental and human harm caused by the U.S., I
            stand in solidarity with the communities and ecosystems most harmed by imperialist-driven climate damage. Environmental justice must involve land back to indigenous people.       
    </div>
    <div class="subsection">
        <h3>Sources</h3>
    </div>
</div>
