<div class = "archive">  
    <div class="container">
        <div *ngFor="let entry of entries; let i = index;" [ngClass]="(this.expandedIndex == i) ? 'expanded': 'mini'"  (mouseenter) ="hover(i)" (mouseleave) ="leave()" (click)="expand(i)">     
            <button> 
                <img class="grid-media img-responsive" [src]="entry.source" [hidden]="this.expandedIndex == i" alt=""/>
                <h2 class = "sectionTitle" [hidden]="(this.hoverIndex != i) || (this.expandedIndex == i)" >{{entry.name}}</h2> 
            </button>
            <div *ngIf="this.expandedIndex == i; then showExpanded"></div>
            <ng-template #showExpanded>
                <div class="expandedSection">
                    <h2>{{entry.name}}</h2>
                    <p class="shortDesc">{{entry.shortDesc}}</p>
                    <p>{{entry.longDesc}}</p>
                </div>
            </ng-template>
        </div>

    </div>
</div>
