
.archive{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main-panel{
    padding-right: 1.5%;
    width: 70vw;
    display: inline-block;
}


 .mini{ 
    position: relative;
    align-self: center;
    max-width: 15vw;
    height: 70%;
    padding: 2%;
    flex: 20%;
    margin: 4% 0;
}

 .grid-media{    
    display: inline-block;
    margin: 5%;
    width: 100%;
    max-width: 15vw;
    max-height: 60vh;
    overflow: hidden;
    border-radius: 20px;
    justify-self: center;

 }

 button{
    padding: 0;
    border: none;
    background: none;
 }

 h2{
     font-weight: 300;
     font-size: 1.3rem;
 }

 .sectionTitle{
    border-radius: 40%;
     /* color: transparent; */
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 1.1rem;
     text-align: center;
     padding: 1rem;
     border-radius: .2rem;
 }
 
 .hover{
    color: rgb(25, 25, 114, .7);
    background-color: rgba(206, 173, 142, 0.45);   
    box-shadow: 0px 0px 40px 30px rgba(206, 173, 142, 0.5);    
}

 .sectionContainer{
     width: 100%;
     background-color: black;
 }

.expandedSection{
    padding: 2%;
    margin: 5% 5% 5% 5%;
    border-radius: 20%;
    position: relative;
    flex: 100%;
    width: 100%;
    flex-basis: 100%;
    color: rgb(60, 58, 54);
    white-space: pre-wrap;
    cursor: default;
    animation:  glowBg2 60s ease-in-out infinite;
}


.shortDesc{
    color: rgb(25, 25, 114);
    font-size: 1.2em;
}

.expandedSection p{
    padding: 0 4%;
}

  @keyframes fade {
    0% {
        color: rgb(226, 217, 217);
    }
    5% {
        color: rgba(226, 217, 217, 0.445);
    }
    50% {
        color: rgba(226, 217, 217, 0);
    }
    95% {
        color: rgba(226, 217, 217, 0.364);
    }
    100% {
        color: rgba(226, 217, 217);
    }
  }

  @keyframes glowBg {
    0% {
        background-color: rgba(189, 227, 247, 0.0);
        box-shadow: 0px 0px 40px 30px rgba(189, 227, 247, 0.0);
    }
    15% {
        background-color: rgba(242, 214, 145, 0.13); 
        box-shadow: 0px 0px 40px 30px rgba(242, 214, 145, 0.15);}
    30% {
        background-color: rgba(184, 147, 122, 0.27); 
        box-shadow: 0px 0px 40px 30px rgba(184, 147, 122, 0.3);    }
    35% {
        background-color: rgba(145, 117, 67, 0.4); 
        box-shadow: 0px 0px 40px 30px rgba(145, 117, 67, 0.45);   }
    50% {
        background-color: rgba(216, 197, 135, 0.45);   
        box-shadow: 0px 0px 40px 30px rgba(216, 197, 135, 0.5);    }
    65% {
        background-color: rgba(233, 212, 159, 0.4);
        box-shadow: 0px 0px 40px 30px rgba(233, 212, 159, 0.45);    }
    70% {
        background-color: rgba(183, 137, 68, 0.27);
        box-shadow: 0px 0px 40px 30px rgba(183, 137, 68, 0.3);    }
    85% {
        background-color: rgba(235, 160, 91, 0.13); 
        box-shadow: 0px 0px 40px 30px rgba(235, 160, 91, 0.15);    }
    100% {
        background-color: rgba(202, 120, 57, 0);
        box-shadow: 0px 0px 40px 30px rgba(202, 120, 57, 0);    }
  }

  @keyframes glowBg2 {
    0% {
        background-color: rgba(242, 200, 145, 0.25); 
        box-shadow: 0 0 80px 40px rgba(242, 200, 145, 0.3);
    }
    15% {
        background-color: rgba(242, 214, 145, 0.3);   
        box-shadow: 0px 0px 80px 40px rgba(242, 214, 145, 0.35);}
    30% {
        background-color: rgba(232, 151, 98, 0.38); 
        box-shadow: 0px 0px 80px 40px rgba(232, 151, 98, 0.45);    }
    35% {
        background-color: rgba(145, 117, 67, 0.43);  
        box-shadow: 0px 0px 80px 40px rgba(145, 117, 67, 0.5);   }
    50% {
        background-color: rgba(216, 197, 135, 0.5);   
        box-shadow: 0px 0px 80px 40px rgba(216, 197, 135, 0.55);    }
    65% {
        background-color: rgba(233, 212, 159, 0.43);
        box-shadow: 0px 0px 80px 40px rgba(233, 212, 159, 0.5);    }
    70% {
        background-color: rgba(183, 137, 68, 0.38);
        box-shadow: 0px 0px 80px 40px rgba(183, 137, 68, 0.45);    }
    85% {
        background-color: rgba(235, 160, 91, 0.3); 
        box-shadow: 0px 0px 80px 40px rgba(235, 160, 91, 0.35);    }
    100% {
        background-color: rgba(242, 200, 145, 0.25);
        box-shadow: 0px 0px 80px 40px rgba(242, 200, 145, 0.3); }
  }


  @keyframes glowText {
    0% {
        color: rgba(25, 25, 114, 0);
    }
    15% {
        color: rgba(25, 25, 114, 0.13);
    }
    30% {
        color: rgba(25, 25, 114, 0.33);
    }
    35% {
        color: rgba(25, 25, 114, 0.43);
    }
    50% {
        color: rgb(25, 25, 114, .48);
    }
    65% {
        color: rgba(25, 25, 114, 0.43);
    }
    70% {
        color: rgba(25, 25, 114, 0.33);
    }
    85% {
        color: rgba(25, 25, 114, 0.13);
    }
    100% {
        color: rgba(25, 25, 114, 0);
    }
  }