<div class = "archive">  
        <div *ngIf="this.expandedIndex != -1; then showExpanded"></div>
            <ng-template #showExpanded>
                <!-- <video autoplay [muted]="'muted'" loop id="bgVideo">
                    <source src={{this.entries[this.expandedIndex].bg}} type="video/mp4">
                </video> -->
                <div class="expandedSection" #expandedEntry>
                    <h2>{{this.entries[this.expandedIndex].name}}</h2>
                    <p class="shortDesc">{{this.entries[this.expandedIndex].shortDesc}}</p>
                    <p>{{this.entries[this.expandedIndex].longDesc}}</p>
                </div>
            </ng-template>

        <div *ngFor="let entry of entries; let i = index;" [ngClass]="(this.expandedIndex == i) ? 'expanded': 'mini'"  (mouseenter) ="hover(i)" (mouseleave) ="leave()" (click)="expand(i)">     
            <button> 
                <h2 [ngClass]="(this.hoverIndex != i) ? 'sectionTitle' : 'hover sectionTitle'" [hidden]="(this.expandedIndex == i)" [ngStyle]="{'animation': (this.hoverIndex != i) ? 'glowBg ' + 2*entries.length + 's ease-in-out infinite, glowText ' + 2*entries.length + 's ease-in-out infinite' : 'none', 'animationDelay': 4*i+'s'}">{{entry.name}}</h2> 
            </button>
        </div>
</div>

