
.grid-container{
    margin: 3% 8% 4% 8%;
    border-radius: 20px;
}
.container{
    margin: 3% 15%;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

 .mini{ 
    position: relative;
    align-self: center;
    max-width: 15vw;
    height: 40%;
    padding: 2%;
    flex: 20%;

}
 .grid-media{    
    display: inline-block;
    margin: 5%;
    width: 100%;
    max-width: 15vw;
    max-height: 60vh;
    overflow: hidden;
    border-radius: 20px;
    justify-self: center;

 }

 button{
    padding: 0;
    border: none;
    background: none;
 }

 .sectionTitle{
     color: rgb(25, 25, 114);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 1.6rem;
     text-align: center;
     padding: .5rem;
     border-radius: .2rem;
     background-color: rgba(189, 227, 247, 0.4);
     box-shadow: 0px 0px 40px 20px rgba(189, 227, 247, 0.5);
 }

 .sectionContainer{
     width: 100%;
     background-color: black;
 }
 .expanded{
    position: relative;
    align-self: center;
    height: 40%;
    padding: 2%;
    flex: 20%;
    max-width: 100%;
    flex: 100%;
}

.expandedSection{
    background-color: rgba(56, 101, 143, 0.88);
    padding: 2%;
    margin: 3%;
    border-radius: 10px;
    border: 50px;
    position: relative;
    flex: 100%;
    width: 100%;
    flex-basis: 100%;
    color: rgb(196, 185, 166);
    white-space: pre-wrap;
}

.shortDesc{
    color: rgb(25, 25, 114);
    font-size: 1.2em;
}

.expandedSection p{
    padding: 0 4%;
}

.expandedSection:hover{
    cursor: pointer;
}